.Dashboard-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .Dashboard-modal-content {
    background: white;
    color: black;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    font-family: sans-serif;
  }
  
  .Dashboard-modal-content input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  
  .modal-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .modal-form-grid form,
  .modal-form-grid button {
    width: 100%;
    justify-self: center;
  }